body{
    font-size: 16px;
}

.ui-footer .ui-title {
    font-size: 0.7em;
}

.ui-header .ui-title{
    text-align: left;
    margin: .6em 0em .8em;
}

.crm_mobile_menu .ui-li .ui-btn-inner a.ui-link-inherit, .crm_mobile_menu  .ui-li-static.ui-li{
    min-height: 59px;
    padding: 0 0 0 57px;
    vertical-align: middle;
    line-height: 53px;
}

.ui-li-divider{
    font-size: 16px;
}

.ui-btn-inner {
    font-size: 14px;
}

.crm_mobile_versao,
.crm_mobile_atutenticacao{
    display: inline-block;
    font-size: 85%;
    position: absolute;
    right: 5px;
    top: 28px;  
    font-size: 0.7em;
}

.ui-content{
    padding: 0;
}

.ui-listview.ui-corner-all {
    -webkit-border-radius: 0;
    border-radius:0;
}

.crm_list_view_links_add{
    float: right;
    position: absolute;
    top: 17px;
    right: 32px;
}
.crm_list_view_links_add > a{
    display: inline-block;
}

table{
    width: 100%;
}