body{
    font-size: 16px;
}

.ui-footer .ui-title {
    font-size: 0.7em;
}

.ui-header .ui-title{
    text-align: left;
    margin: .6em 0em .8em;
}

.ui-li-divider{
    font-size: 1em;
}

.ui-btn-inner {
    font-size: 0.875em;
}

.crm_mobile_versao,
.crm_mobile_atutenticacao{
    display: inline-block;
    font-size: 85%;
    position: absolute;
    right: 5px;
    top: 40px;  
    font-size: 0.750em;
}

.ui-content{
    padding: 0;
}

.ui-input-text.obrigatorio{
    border-left: 2px solid orangered;
}
input.obrigatorio{
    border-left: none;
}

.situacoes_clientes_1{color: blue;}
.situacoes_clientes_2{color: red;}
.situacoes_clientes_3{color: orange;}
.situacoes_clientes_4{color: orangered;}
.situacoes_clientes_5{color: black;}

.situacoes_pedido_1{color: blue;}
.situacoes_pedido_2{color: green;}
.situacoes_pedido_3{color: red;}
.situacoes_pedido_4{color: orangered;}
.situacoes_pedido_5{color: black;}

.situacoes_sincronizacao_1{color: blue;}
.situacoes_sincronizacao_2{color: red;}
.situacoes_sincronizacao_3{color: orange;}
.situacoes_sincronizacao_4{color: green;}
.situacoes_sincronizacao_5{color: black;}

.situacoes_produtos_1{color: blue;}
.situacoes_produtos_2{color: red;}
.situacoes_produtos_3{color: green;}
.situacoes_produtos_4{color: orangered;}

/*
 * jQuery UI Datepicker @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
div.hasDatepicker{ display: block; padding: 0; overflow: visible;  margin: 8px 0; }
.ui-datepicker {  overflow: visible; margin: 0; max-width: 500px;  }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.4em 0; border-bottom: 0; font-weight: bold; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { padding: 1px 0 1px 2px; position:absolute; top: .5em; margin-top: 0; text-indent: -9999px; }

.ui-datepicker .ui-datepicker-prev { left:6px; }
.ui-datepicker .ui-datepicker-next { right:6px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; border-collapse: collapse; margin:0; }
.ui-datepicker td { border-width: 1px; padding: 0; text-align: center; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em 0; font-weight: bold; margin: 0; border-width: 0; text-align: center; text-decoration: none; }

.ui-datepicker-calendar th { padding-top: .3em; padding-bottom: .3em; }
.ui-datepicker-calendar th span, .ui-datepicker-calendar span.ui-state-default { opacity: .3; }
.ui-datepicker-calendar td a { padding-top: .5em; padding-bottom: .5em; }

@media all and (min-width: 450px){
    div.hasDatepicker  { width: 63%; display: inline-block; margin: 0; } 
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}