.ui-header .ui-title{
    text-align: left;
    margin: .6em 0em .8em;
}

.crm_mobile_menu .ui-li .ui-btn-inner a.ui-link-inherit, .crm_mobile_menu  .ui-li-static.ui-li{
    min-height: 59px;
    padding: 0 0 0 57px;
    vertical-align: middle;
    line-height: 53px;
}

.ui-li-divider{
    font-size: 16px;
}

.ui-btn-inner {
    font-size: 14px;
}

.crm_mobile_atutenticacao{
    display: inline-block;
    font-size: 85%;
    position: absolute;
    right: 20px;
    top: 20px;
}

.ui-content{
    padding: 0;
}

.ui-listview.ui-corner-all {
    -webkit-border-radius: 0;
    border-radius:0;
}