
        <div data-url="ativacao"  class="ui-responsive-panel" id="ativacao" data-role="page">

            <div data-role="header" data-position="fixed">
                <h1><image src="../../images/logo.png" title="S2I" /> Pedidos Mobile</h1>
                <span class="crm_mobile_atutenticacao"></span>
            </div><!-- /header -->

            <div data-role="content" class="conteudo">

                <ul data-role="listview" data-inset="true" data-divider-theme="d" class="crm_mobile_menu">
                    <li data-role="list-divider">Ativação do Sistema</li>
                </ul>

                <p>Bem vindo a ativação do S2I Mobile. Entre com os dados abaixo para desfrutar das facilidades.</p>

                <form name="frm_ativacao" id="frm_ativacao">
                    <label for="codigo_cliente">Código Cliente</label>
                    <input type="text" name="codigo_cliente" id="codigo_cliente" value="">

                    <label for="codigo_ativacao">Código de Ativação do Sistema</label>
                    <input type="text" name="codigo_ativacao" id="codigo_ativacao" value="">
                </form>

            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <h1>CRM Mobile Versão 1.0.0 - 2013 - Todos os direitos reservados</h1>
            </div><!-- /header -->

        </div><!-- /page -->
