
        <div data-role="page">

            <div data-role="header" data-position="fixed">
                <h1>CRM Mobile</h1>
                <div data-role="navbar">
                    <ul>
                        <li><a href="/crm_mobile/index.html">Início</a></li>
                        <li><a href="/crm_mobile/views/produtos/lista.html">Configurações</a></li>
                        <li><a href="/crm_mobile/views/clientes/lista.html">Anotações</a></li>
                        <li><a href="/crm_mobile/views/atualizacoes/lista.html">Sair</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /header -->

            <div data-role="content" class="conteudo">
                <p>Lista de pedidos</p>
            </div><!-- /content -->

            <div data-role="footer" data-id="foo1" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="/crm_mobile/views/pedidos/lista.html">Pedidos</a></li>
                        <li><a href="/crm_mobile/views/produtos/lista.html">Produtos</a></li>
                        <li><a href="/crm_mobile/views/clientes/lista.html">Clientes</a></li>
                        <li><a href="/crm_mobile/views/atualizacoes/lista.html">Atualizações</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div><!-- /footer -->
        </div><!-- /page -->
