
        <div data-url="produtos"  class="ui-responsive-panel" id="produtos" data-role="page">

            <div data-role="header" data-position="fixed">
                <h1><image src="../images/logo.png" title="S2I" /> Pedidos Mobile</h1>
                 <a href="painel.html" data-icon="home" class="ui-btn-right">Home</a>
            </div><!-- /header -->

            <div data-role="content" class="conteudo">

                <ul data-role="listview" data-inset="true" data-divider-theme="d" class="crm_mobile_menu">
                    <li data-role="list-divider">Consulta de Produtos</li>
                </ul>

                <label for="search">Descrição:</label>
                <input type="search" name="search" id="search" value="" placeholder="Descrição do produto">

                <table data-role="table" id="table-clientes" data-mode="reflow" class="ui-responsive table-stroke">
                    <thead>
                        <tr class="ui-bar-a">
                            <th>Produto</th>
                            <th data-priority="1">Código</th>
                            <th data-priority="2">Marca</th>
                            <th data-priority="3">Total estoque</th>
                            <th data-priority="4">Valor/Minimo</th>
                            <th data-priority="5">Última atualização</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Produto A</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto B</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto C</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto D</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto E</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto F</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto G</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto H</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto I</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                        <tr>
                            <td>Produto J</td>
                            <td>123</td>
                            <td>Itautec</td>
                            <td>25</td>
                            <td>R$ 1.250,45 <br /> R$ 1.200,45</td>
                            <td>29/03/2013 15:11:35</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /content -->

        </div><!-- /page -->
    