        <div data-url="clientes" data-title="cliente" class="ui-responsive-panel" id="cliente" data-role="page">

            <div data-role="header" data-position="fixed">
                <h1><image src="../../images/logo.png" title="S2I" /> Pedidos Mobile</h1>
                <a href="/views/painel.html" data-icon="home" class="ui-btn-right">Home</a>
                <span class="crm_mobile_atutenticacao"></span>
            </div><!-- /header -->

            <div data-role="content" class="conteudo">

                <ul data-role="listview" data-inset="true" data-divider-theme="d" class="crm_mobile_menu">
                    <li data-role="list-divider">Consulta de Clientes</li>
                </ul>

                <label for="search">Nome:</label>
                <input type="search" name="search" id="search" value="" placeholder="Nome do clientes">

                <table data-role="table" id="table-clientes" data-mode="reflow" class="ui-responsive table-stroke">
                    <thead>
                        <tr class="ui-bar-a">
                            <th>Cliente</th>
                            <th data-priority="1">Código</th>
                            <th data-priority="2">Valores Pendentes</th>
                            <th data-priority="3">Situação</th>
                            <th data-priority="4">Última Atualização</th>
                            <th data-priority="5">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cliente A</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente B</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente C</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente D</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente E</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente F</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente G</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente H</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente I</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente J</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente K</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cliente L</td>
                            <td>123</td>
                            <td>R$ 300,00</td>
                            <td>Ativo</td>
                            <td>29/03/2013 15:11:35</td>
                            <td>
                                <a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-theme="c" data-inline="true">Detalhes</a>
                                <a href="#" data-role="button" data-icon="plus" data-iconpos="notext" data-theme="c" data-inline="true">Novo Pedido</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div><!-- /content -->

        </div><!-- /page -->